<div class="map">
  <.lit_google_map id="the_map" api-key={@api_key} version="3.46" center-latitude={@center_lat} center-longitude={@center_lng} set-center>
    <%= for %{geo_location: %Geo.Point{coordinates: {lng, lat}}, name: name, ident: ident} <- @airports do %>
      <lit-google-map-marker slot="markers" latitude={lat} longitude={lng}>
        <p><%= name %> (<%= ident %>)</p>
      </lit-google-map-marker>
    <% end %>
  </.lit_google_map>
</div>